


<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="/"><img src="./media/logo-boca.png" alt="" srcset=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto   mb-2 mb-lg-0  ">
                <li class="nav-item">
                    <a class="nav-link active text-warning " aria-current="page" href="/">Inicio</a>
                </li>
                <li>
                    
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-warning" href="/sucursal">Sucursales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active  text-warning" href="/somos">Quienes Somos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-warning" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Ser Socio
                    </a>
                    <ul class="dropdown-menu bg-secondary  " aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item " href="/socios">Registraste</a></li>
                        <li><a class="dropdown-item " href="/registrados">Socios Registrados</a></li>
                    </ul>
                </li>



                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-warning" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Fútbol
                    </a>
                    <ul class="dropdown-menu bg-secondary  " aria-labelledby="navbarDropdown">


                        <li><a class="dropdown-item " href="/cam_fut">Camisetas</a></li>
                        <li><a class="dropdown-item" href="/shorts_fut">Shorts</a></li>
                        <li><a class="dropdown-item" href="/medi_fut">Medias</a></li>
                        <li><a class="dropdown-item" href="/edlim_fut">Ediciones Limitadas</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-warning" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Basquet
                    </a>
                    <ul class="dropdown-menu bg-secondary" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/cam_bkt">Camisetas</a></li>
                        <li><a class="dropdown-item" href="/shorts_bkt">Shorts</a></li>
                        <li><a class="dropdown-item" href="/tlibre_bkt">Tiempo Libre</a></li>
                    </ul>
                </li>
                
            </ul>
            
    </div>
</nav>