<div id="hero" class="hero  d-flex" >
        <div class="container">
            <div class="row  subs">
                    <div class="six columns">
                        <div class="contenido-hero">
                            <h2 class=" fw-bold  ">SUSCRIBITE</h2>
                                <p class=" fw-bold ">PARA RECIBIR OFERTAS Y NOVEDADES EN TU EMAIL</p>
                                <form action="./ind" id="subscripcion" method="post" class="formulario">
                                    <input class="u-full-width text-center" id="email" type="email" name="email" placeholder="Email">
                                    <input type="submit" id="submit-buscador" class="button  btn btn-primary text-warning" value="Enviar">
                                </form>
                        </div>
                    </div>
            </div> 
        </div>
</div>
    