<!-- ************************************* Camiseta Basket ********************************************************** -->
<img src="https://bocashop.vteximg.com.br/arquivos/ids/168481/BocaShop2022-LaDeBoca_BannerD.jpg?v=637922779497600000 "
    class="img-fluid" alt="...">

<section id="mas_vendidos">
    
    <div class="container-fluid ">
    <div class="container py-5 ">
        <div class="row">
            <!-- Camiseta Basquet-1 -->
            <div class="col-md-4 pb-2">
                <div class="card" >
                    <img src="https://bocashop.vteximg.com.br/arquivos/ids/167594-550-550/HC6838_1.jpg?v=637737963572170000"       class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center"><b> Camiseta Titular Boca Jrs  Básquet 21/22 </b></h5>
                            <p class=" h5 card-text text-center text-info">$1399</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque quasi
                            modi assumenda? Est vero hic aspernatur facere cum et. Lorem ipsum dolor sit amet.
                            </p>
                            <div class="row justify-content-center m-4">
                            <a class="btn btn-primary fw-bold text-warning m-d1 " onclick="miAlerta()" role="button">Comprar</a>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- /Camiseta Basquet-1 -->
            <!-- Camiseta Basquet-2 -->
            <div class="col-md-4 pb-2">
                <div class="card" >
                    <img src="https://bocashop.vteximg.com.br/arquivos/ids/167592-550-550/HC6837_1.jpg?v=637737954906430000"       class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center"><b> Camiseta Altern Boca Jrs Básquet 21/22 </b></h5>
                            <p class=" h5 card-text text-center text-info">$1399</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque quasi
                            modi assumenda? Est vero hic aspernatur facere cum et. Lorem ipsum dolor sit amet.
                            </p>
                            <div class="row justify-content-center m-4">
                            <a class="btn btn-primary fw-bold text-warning m-d1 " onclick="miAlerta()" role="button">Comprar</a>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- /Camiseta Basquet-2 -->
            <!-- Camiseta Basquet-3 -->
            <div class="col-md-4 pb-2">
                <div class="card" >
                    <img src="https://bocashop.vteximg.com.br/arquivos/ids/163229-550-550/GH6838_1.jpg?v=637466014362530000"       class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center"><b> Camiseta Altern Boca Jrs Básquet 20/21 </b></h5>
                            <p class=" h5 card-text text-center text-info">$1399</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque quasi
                            modi assumenda? Est vero hic aspernatur facere cum et. Lorem ipsum dolor sit amet.
                            </p>
                            <div class="row justify-content-center m-4">
                            <a class="btn btn-primary fw-bold text-warning m-d1 " onclick="miAlerta()" role="button">Comprar</a>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- /Camiseta Basquet-3 -->

</section>

{{> suscribirse}}
<script src="/js/inj.js"></script>
<!-- *************************************** /Camiseta Basket ***************************************************************** -->