<!-- ************************************* Camisetas ********************************************************** -->
<a href="/cam_fut"><img src="https://bocashop.vteximg.com.br/arquivos/ids/168481/BocaShop2022-LaDeBoca_BannerD.jpg?v=637922779497600000 "
    class="img-fluid" alt="Boca Shop"></a>

<section id="mas_vendidos">
    
    <div class="container-fluid ">
    <div class="container py-5 ">
        <div class="row">
            <!-- camiseta-1 -->
            <div class="col-md-4 pb-2">
                <div class="card" >
                    <img src="https://bocashop.vteximg.com.br/arquivos/ids/168483-550-550/HE6336_1.jpg?v=637923020086330000"       class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center"><b> Camiseta Titular Boca Juniors 22/23 </b></h5>
                            <p class=" h5 card-text text-center text-info">$1500</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque quasi
                            modi assumenda? Est vero hic aspernatur facere cum et. Lorem ipsum dolor sit amet.
                            </p>
                            <div class="row justify-content-center m-4">
                            <a class="btn btn-primary fw-bold text-warning m-d1 " href="/cfut_1" role="button">Comprar</a>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- camiseta-1 -->
            <!-- camiseta-2 -->
            <div class="col-md-4 pb-2">
                <div class="card" >
                    <img src="https://bocashop.vteximg.com.br/arquivos/ids/167693-550-550/HB0518.jpg?v=637828865812530000"       class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center"><b> Camiseta Suplente Boca Juniors 22/23 </b></h5>
                            <p class=" h5 card-text text-center text-info">$1500</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque quasi
                            modi assumenda? Est vero hic aspernatur facere cum et. Lorem ipsum dolor sit amet.
                            </p>
                            <div class="row justify-content-center m-4">
                            <a class="btn btn-primary fw-bold text-warning m-d1 " href="/cfut_2" role="button">Comprar</a>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- camiseta-2 -->
            <!-- camiseta-3 -->
            <div class="col-md-4 pb-2">
                <div class="card" >
                    <img src="https://bocashop.vteximg.com.br/arquivos/ids/167982-550-550/GA7541.jpg?v=637868558642000000"       class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center"><b> Camiseta Alternativa Boca Juniors  22/23 </b></h5>
                            <p class=" h5 card-text text-center text-info">$1500</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque quasi
                            modi assumenda? Est vero hic aspernatur facere cum et. Lorem ipsum dolor sit amet.
                            </p>
                            <div class="row justify-content-center m-4">
                            <a class="btn btn-primary fw-bold text-warning m-d1 " href="/cfut_3" role="button">Comprar</a>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- camiseta-3 -->
            <!-- camiseta-4 -->
            <div class="col-md-4 pb-2">
                <div class="card" >
                    <img src="https://bocashop.vteximg.com.br/arquivos/ids/167663-550-550/GU1877.jpg?v=637801054404570000"class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center"><b> Mini Uniforme Titular Boca Jrs 21/22  22/23 </b></h5>
                            <p class=" h5 card-text text-center text-info">$999</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque quasi
                            modi assumenda? Est vero hic aspernatur facere cum et. Lorem ipsum dolor sit amet.
                            </p>
                            <div class="row justify-content-center m-4">
                            <a class="btn btn-primary fw-bold text-warning m-d1 " onclick="miAlerta()" role="button">Comprar</a>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- camiseta-4 -->
            <!-- camiseta-5 -->
            <div class="col-md-4 pb-2">
                <div class="card" >
                    <img src="https://bocashop.vteximg.com.br/arquivos/ids/165405-550-550/GL5528_1.jpg?v=637584351236100000"       class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center"><b>Mini uniforme Bebé Titular Boca Jrs 20/21 </b></h5>
                            <p class=" h5 card-text text-center text-info">$999</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque quasi
                            modi assumenda? Est vero hic aspernatur facere cum et. Lorem ipsum dolor sit amet.
                            </p>
                            <div class="row justify-content-center m-4">
                            <a class="btn btn-primary fw-bold text-warning m-d1 " onclick="miAlerta()" role="button">Comprar</a>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- camiseta-5 -->
            <!-- camiseta-6 -->
            <div class="col-md-4 pb-2">
                <div class="card" >
                    <img src="https://bocashop.vteximg.com.br/arquivos/ids/165401-550-550/GL5527_1.jpg?v=637584351169200000"       class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center"><b> Mini uniforme Niño Titular Boca Jrs 20/21 </b></h5>
                            <p class=" h5 card-text text-center text-info">$1100</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque quasi
                            modi assumenda? Est vero hic aspernatur facere cum et. Lorem ipsum dolor sit amet.
                            </p>
                            <div class="row justify-content-center m-4">
                            <a class="btn btn-primary fw-bold text-warning m-d1 " onclick="miAlerta()" role="button">Comprar</a>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- camiseta-6 -->
            <!-- camiseta-7 -->
            <div class="col-md-4 pb-2">
                <div class="card" >
                    <img src="https://bocashop.vteximg.com.br/arquivos/ids/167644-550-550/GA7549.jpg?v=637775194360830000"       class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center"><b> Camiseta Titular Arquero Boca Jrs 21/22 - HOMBRE</b></h5>
                            <p class=" h5 card-text text-center text-info">$1399</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque quasi
                            modi assumenda? Est vero hic aspernatur facere cum et. Lorem ipsum dolor sit amet.
                            </p>
                            <div class="row justify-content-center m-4">
                            <a class="btn btn-primary fw-bold text-warning m-d1 " onclick="miAlerta()" role="button">Comprar</a>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- camiseta-7 -->
            <!-- camiseta-8 -->
            <div class="col-md-4 pb-2">
                <div class="card" >
                    <img src="https://bocashop.vteximg.com.br/arquivos/ids/165311-550-550/GK3191_1.jpg?v=637533381589730000"       class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center"><b> Tercera Camiseta Authentic Boca Jrs 21/22 - HOMBRE</b></h5>
                            <p class=" h5 card-text text-center text-info">$1500</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque quasi
                            modi assumenda? Est vero hic aspernatur facere cum et. Lorem ipsum dolor sit amet.
                            </p>
                            <div class="row justify-content-center m-4">
                            <a class="btn btn-primary fw-bold text-warning m-d1 " onclick="miAlerta()" role="button">Comprar</a>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- camiseta-8 -->
            <!-- camiseta-9 -->
            <div class="col-md-4 pb-2">
                <div class="card" >
                    <img src="https://bocashop.vteximg.com.br/arquivos/ids/163284-550-550/GI4682_1.jpg?v=637481279145200000"       class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center"><b> Camiseta Authentic Alternativa 20/21 - HOMBRE </b></h5>
                            <p class=" h5 card-text text-center text-info">$1500</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque quasi
                            modi assumenda? Est vero hic aspernatur facere cum et. Lorem ipsum dolor sit amet.
                            </p>
                            <div class="row justify-content-center m-4">
                            <a class="btn btn-primary fw-bold text-warning m-d1 " onclick="miAlerta()" role="button">Comprar</a>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- camiseta-9 -->
            <!-- camiseta-10 -->
            <div class="col-md-4 pb-2">
                <div class="card" >
                    <img src="https://bocashop.vteximg.com.br/arquivos/ids/163261-550-550/GH8646_1.jpg?v=637480472059200000"       class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center"><b> Camiseta de Arquero Boca Jrs - HOMBRE </b></h5>
                            <p class=" h5 card-text text-center text-info">$1500</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque quasi
                            modi assumenda? Est vero hic aspernatur facere cum et. Lorem ipsum dolor sit amet.
                            </p>
                            <div class="row justify-content-center m-4">
                            <a class="btn btn-primary fw-bold text-warning m-d1 " onclick="miAlerta()" role="button">Comprar</a>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- camiseta-10 -->
            <!-- camiseta-11 -->
            <div class="col-md-4 pb-2">
                <div class="card" >
                    <img src="https://bocashop.vteximg.com.br/arquivos/ids/163263-550-550/GK3122_1.jpg?v=637480473473400000"       class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center"><b> Cuarta Camiseta Boca Jrs 20/21 - HOMBRE  </b></h5>
                            <p class=" h5 card-text text-center text-info">$1500</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque quasi
                            modi assumenda? Est vero hic aspernatur facere cum et. Lorem ipsum dolor sit amet.
                            </p>
                            <div class="row justify-content-center m-4">
                            <a class="btn btn-primary fw-bold text-warning m-d1 " onclick="miAlerta()" role="button">Comprar</a>
                            </div>

                        </div>
                    </div>
            </div>
            <!-- camiseta-11 -->
            <!-- camiseta-12 -->
            <div class="col-md-4 pb-2">
                <div class="card" >
                    <img src="https://bocashop.vteximg.com.br/arquivos/ids/155663-550-550/GL4170_1.png?v=637321716844630000" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center"><b> Camiseta Alternativa Boca Jrs 20/21 - NIÑO </b></h5>
                            <p class=" h5 card-text text-center text-info">$1100</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque quasi
                            modi assumenda? Est vero hic aspernatur facere cum et. Lorem ipsum dolor sit amet.
                            </p>
                            <div class="row justify-content-center m-4">
                            <a class="btn btn-primary fw-bold text-warning m-d1 " onclick="miAlerta()" role="button">Comprar</a>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- camiseta-12 -->
            
        </div>
    </div>
</div>


</section>


{{> suscribirse}}
{{!-- <script src="/js/inj.js"></script> --}}







<!-- *************************************** /Camisetas***************************************************************** -->