


<section >
{{!-- ************************************** Banner ***********************************************************--}}
<a href="/cam_fut"><img src="https://bocashop.vteximg.com.br/arquivos/ids/168481/BocaShop2022-LaDeBoca_BannerD.jpg?v=637922779497600000 "
    class="img-fluid" alt="Boca Shop"></a>

{{!-- ************************************** Camiseta futbol 2 ***********************************************************--}}
<div class="card mb-3 m-5" >
  <div class="row g-0">
    <div class="col-md-4 p-5">
      <img src="https://bocashop.vteximg.com.br/arquivos/ids/167693-550-550/HB0518.jpg?v=637828865812530000" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="card-title text-center ">Camiseta Suplente Boca Juniors 22/23</h1>
        <p class="card-text text-center  pt-5 lh-2 fs-5    m-5 ">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam cumque. </p>
        <p class=" h3 card-text text-center text-primary ">$1500</p>
        <div class="mb-3 text-center" id="liveAlertPlaceholder">
                <a class="btn btn-primary w-50 p-3" type="button" id="liveAlertBtn"  role="button">Comprar</a>
      </div>
      </div>
    </div>
  </div>
</div>


{{> pago}}
{{> suscribirse}}
</section>


<script src="/js/al.js"></script>