<!-- ************************************* E-Limitada Futbol ********************************************************** -->
<img src="https://bocashop.vteximg.com.br/arquivos/ids/168481/BocaShop2022-LaDeBoca_BannerD.jpg?v=637922779497600000 "
    class="img-fluid" alt="...">

<section id="mas_vendidos">
    
    <div class="container-fluid ">
    <div class="container py-5 ">
        <div class="row">
            <!-- E-lmtd-1 -->
            <div class="col-md-4 pb-2">
                <div class="card" >
                    <img src="https://bocashop.vteximg.com.br/arquivos/ids/163263-550-550/GK3122_1.jpg?v=637480473473400000"       class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center"><b> Camiseta Boca Jrs- 20 años Intercontinental </b></h5>
                            <p class=" h5 card-text text-center text-info">$1500</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque quasi
                            modi assumenda? Est vero hic aspernatur facere cum et. Lorem ipsum dolor sit amet.
                            </p>
                            <div class="row justify-content-center m-4">
                            <a class="btn btn-primary fw-bold text-warning m-d1 " onclick="miAlerta()" role="button">Comprar</a>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- E-lmtd-1 -->
            <!-- E-lmtd-2 -->
            <div class="col-md-4 pb-2">
                <div class="card" >
                    <img src="https://bocashop.vteximg.com.br/arquivos/ids/156661-550-550/GH8644_1.png?v=637369120957700000"       class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center"><b> Camiseta Boca Juniors- La Bombonera 20/21  </b></h5>
                            <p class=" h5 card-text text-center text-info">$1499</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque quasi
                            modi assumenda? Est vero hic aspernatur facere cum et. Lorem ipsum dolor sit amet.
                            </p>
                            <div class="row justify-content-center m-4">
                            <a class="btn btn-primary fw-bold text-warning m-d1 " onclick="miAlerta()" role="button">Comprar</a>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- E-lmtd-2 -->
            <!-- E-lmtd-3 -->
            <div class="col-md-4 pb-2">
                <div class="card" >
                    <img src="https://bocashop.vteximg.com.br/arquivos/ids/165311-550-550/GK3191_1.jpg?v=637533381589730000"       class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center"><b> Camiseta Boca Juniors- Republica De La Boca </b></h5>
                            <p class=" h5 card-text text-center text-info">$1499</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque quasi
                            modi assumenda? Est vero hic aspernatur facere cum et. Lorem ipsum dolor sit amet.
                            </p>
                            <div class="row justify-content-center m-4">
                            <a class="btn btn-primary fw-bold text-warning m-d1 " onclick="miAlerta()" role="button">Comprar</a>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- E-lmtd-3 -->

</section>






{{> suscribirse}}


{{!-- <script src="/js/inj.js"></script> --}}
<!-- *************************************** /E-Limitada Futbol ***************************************************************** -->