
{{!-- ************************************* BANNER ********************************************************************* --}}

<img src="https://bocashop.vteximg.com.br/arquivos/ids/168481/BocaShop2022-LaDeBoca_BannerD.jpg?v=637922779497600000 "
    class="img-fluid" alt="...">

<!-- ************************************* Shorts ********************************************************** -->
<section id="mas_vendidos">
    
    <div class="container-fluid ">
    <div class="container py-5 ">
        <div class="row">
            <!-- Short-1 -->
            <div class="col-md-4 pb-2">
                <div class="card" >
                    <img src="https://bocashop.vteximg.com.br/arquivos/ids/168486-550-550/HE6334_1.jpg?v=637934176872970000"       class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center"><b> Short Titular Boca Jrs 22/23 </b></h5>
                            <p class=" h5 card-text text-center text-info">$600</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque quasi
                            modi assumenda? Est vero hic aspernatur facere cum et. Lorem ipsum dolor sit amet.
                            </p>
                            <div class="row justify-content-center m-4">
                            <a class="btn btn-primary fw-bold text-warning m-d1 " onclick="miAlerta()" role="button">Comprar</a>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- Short-1 -->
            <!-- Short-2 -->
            <div class="col-md-4 pb-2">
                <div class="card" >
                    <img src="https://bocashop.vteximg.com.br/arquivos/ids/167587-550-550/HC6835_1.jpg?v=637737935427870000"       class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center"><b> Short Alter Basquet Boca Jrs 21/22 </b></h5>
                            <p class=" h5 card-text text-center text-info">$600</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque quasi
                            modi assumenda? Est vero hic aspernatur facere cum et. Lorem ipsum dolor sit amet.
                            </p>
                            <div class="row justify-content-center m-4">
                            <a class="btn btn-primary fw-bold text-warning m-d1 " onclick="miAlerta()" role="button">Comprar</a>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- Short-2 -->
            <!-- Short-3 -->
            <div class="col-md-4 pb-2">
                <div class="card" >
                    <img src="https://bocashop.vteximg.com.br/arquivos/ids/166896-550-550/GU1880_1.jpg?v=637643878656930000"       class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center"><b> Short Arquero Boca Jrs  21/22 </b></h5>
                            <p class=" h5 card-text text-center text-info">$600</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque quasi
                            modi assumenda? Est vero hic aspernatur facere cum et. Lorem ipsum dolor sit amet.
                            </p>
                            <div class="row justify-content-center m-4">
                            <a class="btn btn-primary fw-bold text-warning m-d1 " onclick="miAlerta()" role="button">Comprar</a>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- Short-3 -->
            <!-- Short-4 -->
            <div class="col-md-4 pb-2">
                <div class="card" >
                    <img src="https://bocashop.vteximg.com.br/arquivos/ids/165662-550-550/GU1879_1.jpg?v=637630183392270000"class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center"><b> Short Alternativo Boca Jrs 21/22 </b></h5>
                            <p class=" h5 card-text text-center text-info">$550</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque quasi
                            modi assumenda? Est vero hic aspernatur facere cum et. Lorem ipsum dolor sit amet.
                            </p>
                            <div class="row justify-content-center m-4">
                            <a class="btn btn-primary fw-bold text-warning m-d1 " onclick="miAlerta()" role="button">Comprar</a>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- Short-4 -->
            <!-- Short-5 -->
            <div class="col-md-4 pb-2">
                <div class="card" >
                    <img src="https://bocashop.vteximg.com.br/arquivos/ids/165076-550-550/GK3310_1.jpg?v=637528056474100000"       class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center"><b>Short Tercer Uniforme Boca Jrs 21/22 </b></h5>
                            <p class=" h5 card-text text-center text-info">$500</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque quasi
                            modi assumenda? Est vero hic aspernatur facere cum et. Lorem ipsum dolor sit amet.
                            </p>
                            <div class="row justify-content-center m-4">
                            <a class="btn btn-primary fw-bold text-warning m-d1 " onclick="miAlerta()" role="button">Comprar</a>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- Short-5 -->
            <!-- Short-6 -->
            <div class="col-md-4 pb-2">
                <div class="card" >
                    <img src="https://bocashop.vteximg.com.br/arquivos/ids/163245-550-550/GH8510_1.jpg?v=637473573537470000"       class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center"><b> Short Arquero Boca Jrs 20/21  </b></h5>
                            <p class=" h5 card-text text-center text-info">$600</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque quasi
                            modi assumenda? Est vero hic aspernatur facere cum et. Lorem ipsum dolor sit amet.
                            </p>
                            <div class="row justify-content-center m-4">
                            <a class="btn btn-primary fw-bold text-warning m-d1 " onclick="miAlerta()" role="button">Comprar</a>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- Short-6 -->
            <!-- Short-7 -->
            <div class="col-md-4 pb-2">
                <div class="card" >
                    <img src="https://bocashop.vteximg.com.br/arquivos/ids/163273-550-550/GN8856_1.jpg?v=637480496366600000"       class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center"><b> Short Cuarto Uniforme Boca Jrs 20/21</b></h5>
                            <p class=" h5 card-text text-center text-info">$499</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque quasi
                            modi assumenda? Est vero hic aspernatur facere cum et. Lorem ipsum dolor sit amet.
                            </p>
                            <div class="row justify-content-center m-4">
                            <a class="btn btn-primary fw-bold text-warning m-d1 " onclick="miAlerta()" role="button">Comprar</a>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- Short-7 -->
            <!-- Short-8 -->
            <div class="col-md-4 pb-2">
                <div class="card" >
                    <img src="https://bocashop.vteximg.com.br/arquivos/ids/156659-550-550/GH8509_1.png?v=637369115371070000"       class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center"><b> Short Tercer Unifome Boca Jrs 20/21 </b></h5>
                            <p class=" h5 card-text text-center text-info">$549</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque quasi
                            modi assumenda? Est vero hic aspernatur facere cum et. Lorem ipsum dolor sit amet.
                            </p>
                            
                            <div class="row justify-content-center m-4">
                            <a class="btn btn-primary fw-bold text-warning m-d1 " onclick="miAlerta()" role="button">Comprar</a>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- Short-8 -->
            <!-- Short-9 -->
            <div class="col-md-4 pb-2">
                <div class="card" >
                    <img src="https://bocashop.vteximg.com.br/arquivos/ids/155647-550-550/GL4167_1.png?v=637321716570500000"       class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center"><b> Short Uniforme Titular Boca Jrs 20/21  </b></h5>
                            <p class=" h5 card-text text-center text-info">$750</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque quasi
                            modi assumenda? Est vero hic aspernatur facere cum et. Lorem ipsum dolor sit amet.
                            </p>
                            <div class="row justify-content-center m-4">
                            <a class="btn btn-primary fw-bold text-warning m-d1 " onclick="miAlerta()" role="button">Comprar</a>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- Short-9 -->
           
            
        </div>
    </div>
</div>


</section>



{{> suscribirse}}


<script src="/js/inj.js"></script>



<!-- *************************************** /Shorts ***************************************************************** -->