{{!-- ************************************* BANNER ********************************************************************* --}}


<img src="https://bocashop.vteximg.com.br/arquivos/ids/155632/Banner-Nosotros-Xeneizes.png?v=637320578294470000 "
    class="img-fluid" alt="...">

{{!-- ************************************* somos boca ********************************************************************* --}}


<div class="container-fluid">
    <div class="row">
        <p class="  fw-bold text-warning text-center fs-4  m-4">
            <strong>UN SENTIMIENTO QUE MOVILIZA A MILLONES DE PERSONAS</strong>
        </p>
        <br>
        <div class="d-flex justify-content-center">


            <p class=" fw-bold fst-italic text-primary  lh-1 fs-5  w-50 text-center m-5 ">
                Boca Juniors es ese algo en común con los que sienten la pasión a cada paso, estén paseando por el mundo
                o caminando por las calles de Buenos Aires. Porque es ser parte de algo único. La prueba de que, con
                esfuerzo, pasión y entusiasmo, todo es posible.
                <br><br>
                Porque si La Boca hace más grande a Boca, los Xeneizes la volvimos República. Un lugar donde con sólo
                tararear un simple “Señores, yo soy de Boca desde la cuna”, te dan un pasaporte barrial, provincial,
                nacional, global, universal, interestelar.
                <br><br>
                Porque si la Bombonera late no es ni más ni menos que por el corazón de todos aquellos que laten por
                Boca.
                <br><br>
                Es por eso que, por medio de nuestra tienda oficial Boca Shop, queremos acercarle a todos los Xeneizes
                los productos oficiales del club. Para llevar los colores azul y oro, vayan donde vayan. ¡Que la
                disfrutes!
            </p>
        </div>


    </div>
</div>



{{> suscribirse}}