<!-- ************************************* T-libre Basket ********************************************************** -->
<img src="https://bocashop.vteximg.com.br/arquivos/ids/168481/BocaShop2022-LaDeBoca_BannerD.jpg?v=637922779497600000 "
    class="img-fluid" alt="...">

<section id="mas_vendidos">
    
    <div class="container-fluid ">
    <div class="container py-5 ">
        <div class="row">
            <!-- T-libre Basquet-1 -->
            <div class="col-md-4 pb-2">
                <div class="card" >
                    <img src="https://bocashop.vteximg.com.br/arquivos/ids/167147-550-550/H15939_1.jpg?v=637660194583000000"       class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center"><b> Remera Basquet Boca Jrs </b></h5>
                            <p class=" h5 card-text text-center text-info">$299</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque quasi
                            modi assumenda? Est vero hic aspernatur facere cum et. Lorem ipsum dolor sit amet.
                            </p>
                            <div class="row justify-content-center m-4">
                            <a class="btn btn-primary fw-bold text-warning m-d1 " onclick="miAlerta()" role="button">Comprar</a>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- /T-libre-1 -->
            <!-- T-libre-2 -->
            <div class="col-md-4 pb-2">
                <div class="card" >
                    <img src="https://bocashop.vteximg.com.br/arquivos/ids/167146-550-550/H15937_1.jpg?v=637660193364230000"       class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center"><b> Pantalon Basquet Boca Jrs </b></h5>
                            <p class=" h5 card-text text-center text-info">$399</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque quasi
                            modi assumenda? Est vero hic aspernatur facere cum et. Lorem ipsum dolor sit amet.
                            </p>
                            <div class="row justify-content-center m-4">
                            <a class="btn btn-primary fw-bold text-warning m-d1 " onclick="miAlerta()" role="button">Comprar</a>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- /T-libre Basquet-2 -->
            

</section>

{{> suscribirse}}

{{!-- <script src="/js/inj.js"></script> --}}
<!-- *************************************** /T-libre Basket ***************************************************************** -->